<div @fadeIn class="card m-auto">
    <img class="card-img-top" [src]="product?.image_url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product?.title}}</h5>
      <p class="card-text">{{product?.price | currency: product?.currency}}</p>
      <button (click)="addToCart(product)" type="button" class="btn theme-btn btn-sm">Add to <i class="fa fa-cart-plus"></i></button>
      <p>{{ getQuantity() }}</p>
    </div>
    <div class="card-footer">
        <span class="badge badge-primary">{{product?.category}}</span>
    </div>
</div>
