<footer class="p-4 pt-md-5 border-top footer">
    <div class="row">
      <div class="col-12 col-md text-center">
        <img class="mb-2" src="../../assets/img/sfh-logo.png" alt="" width="100" height="100">
        <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void(0)">All</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Static</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Content</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Here</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Team feature</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Stuff for employees</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Categories</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'bread'}">Breads</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'cookies'}">Cookies</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'creamcakes'}">Creamcakes</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'cupcakes'}">Cupcakes</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'dairy'}">Dairy</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'fruits'}">Fruits</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'vegetables'}">Vegetables</a></li>
          <li><a class="text-muted" href="javascript:void(0)" [routerLink]="['/products']" [queryParams]="{category: 'seasonings'}">Seasonings and Spices</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="javascript:void(0)">Team</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Locations</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Privacy</a></li>
          <li><a class="text-muted" href="javascript:void(0)">Terms</a></li>
        </ul>
      </div>
    </div>
</footer>