<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">Shop From Home</a>
    <button (click)="collapsed = !collapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarsExampleDefault" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart</a>
        </li>
        <li *ngIf="userDetails; else nonAuthorizedUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user-circle"></span> {{ userDetails.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a ngbDropdownItem routerLink="/my-orders">My Orders</a>
            <a *ngIf="userDetails.isAdmin" ngbDropdownItem routerLink="/admin/orders">Manage Orders</a>
            <a *ngIf="userDetails.isAdmin" ngbDropdownItem routerLink="/admin/products">Manage Products</a>
            <a ngbDropdownItem (click)="logout()" class="logout">Logout</a>
          </div>
        </li>
        <ng-template #nonAuthorizedUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
</nav>
