<div class="mt-4" *ngIf="shoppingCartData.length!==0; else loadingSpinner;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-1 mt-1">Shopping Cart</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>S no.</th>
                            <th></th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- index as x; -->
                        <tr *ngFor="let item of shoppingCartData; let x=index;">
                            <td>{{x+1}}</td>
                            <td><img class="rounded-circle product-img" width="100px" height="auto" [src]="item?.image_url" alt="Product Image"></td>
                            <td>{{item?.title}}</td>
                            <td>{{item?.quantity}}</td>
                            <td>{{item?.price | currency: item?.currency}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal ({{ calculateTotalQuantity() }} item<span *ngIf="calculateTotalQuantity() !== 1">s</span>): <b>{{ calculateTotalAmount() | currency:"INR" }}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingSpinner>
    <div class="text-center mt-4">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</ng-template>
