.mat-radio-group {
    padding: 0;
}

.card-img-top {
    width: auto;
    height: auto;
}

.upload-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('../../../assets/img/click_upload_image.jpeg');
    background-size: cover;
    /* background-position: center; */
    cursor: pointer;
    border-radius: 10%;
    border: 1px solid var(--theme-purple);
}

.upload-file-value {
    margin: 0;
}

/* Modal CSS starts here */
.modal-content {

}
.close {
    color: #d9534f;
}

.modal-footer button {
    color: black;
    background-color: var(--theme);
    border-color: var(--theme);
}
.modal-footer button:hover {
    border-color: black;
}

.modal-footer button:active {
    color: white;
    background-color: #0275d8;
    border-color: black;
}
/* Modal CSS ends here */

/* loading spinner css starts here */
mat-spinner {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
}
/* loading spinner css ends here */