<div class="mt-4">

    <div class="row">
        <div class="col-lg-6">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="title">Title</label>
                        <input formControlName="title" class="form-control" type="text" id="title" name="title">
                        <small class="text-danger" *ngIf="title.errors && title.touched">
                            <div *ngIf="title.errors?.required">
                                This field cannot be left blank
                            </div>
                            <div *ngIf="title.errors?.minlength">
                                Title should contain atleast {{title.errors?.minlength.requiredLength}} characters
                            </div>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="currency">Currency</label>
                        <ng-select formControlName="currency" id="currency" name="currency">
                            <ng-option value="INR">INR</ng-option>
                            <ng-option value="USD">USD</ng-option>
                            <ng-option value="EUR">EUR</ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="currency.errors && currency.touched">
                            <div *ngIf="currency.errors?.required">
                                This field cannot be left blank
                            </div>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="price">Price</label>
                        <input formControlName="price" class="form-control" type="number" min="0" id="price" name="price">
                        <small class="text-danger" *ngIf="price.errors && price.touched">
                            <div *ngIf="price.errors?.required">
                                This field cannot be left blank
                            </div>
                            <div *ngIf="price.errors?.min">
                                Price should be minimum {{price.errors?.min.min}} 
                            </div>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="category">Category</label>
                        <ng-select formControlName="category" id="category" name="category">
                            <ng-option *ngFor="let item of categories" [value]="item.key">
                                {{item.name}}
                            </ng-option>
                        </ng-select>
                        <small class="text-danger" *ngIf="category.errors && category.touched">
                            <div *ngIf="category.errors?.required">
                                This field cannot be left blank
                            </div>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="image_url">Image URL</label>
                        <input formControlName="image_url" class="form-control" type="text" id="image_url" name="image_url">
                    </div>
                </div>
                <div class="row-lg-6 mt-4">
                    <div *ngIf="!product_key; else updateView">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn theme-btn ml-4"
                                matTooltip="Back to Products List"
                                matTooltipPosition="below"
                                matTooltipShowDelay="100"
                                aria-label="Button that shows a previous page tooltip" 
                                type="button" 
                                routerLink="/admin/products/list">   
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                    <ng-template #updateView>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button class="btn theme-btn ml-4"
                                matTooltip="Back to Products List"
                                matTooltipPosition="below"
                                matTooltipShowDelay="100"
                                aria-label="Button that shows a previous page tooltip" 
                                type="button" 
                                routerLink="/admin/products/list">   
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
        <div class="col-lg-5 align-self-center offset-lg-1 preview-card">
            <div *ngIf="title.value" class="card" style="width: 100%">
                <img class="card-img-top" src="{{ image_url.value }}" alt="Product Image" (error)="imageErrorHandler($event)">
                <!-- onerror="this.src='./../../../assets/img/default-product-image.png';" -->
                <!-- Above is method of doing it without (error) event -->
                <div class="card-body">
                  <h5 class="card-title d-inline-block align-content-center">{{title.value}}</h5>
                  <p *ngIf="productForm.controls.category.value" class="btn btn-primary btn-sm d-inline-block align-content-center ml-3"><i class="fa fa-tag"></i> {{category.value}}</p>
                  <p class="card-text">{{price.value | currency: currency.value}}</p>
                  <!-- <a href="#" class="btn btn-primary">Details</a> -->
                </div>
            </div>
        </div> 
    </div>

</div>
