<div class="mt-4">

    <button mat-raised-button color="primary" routerLink="/admin/products/create" type="button">
        Add Product <i class="fa fa-cart-plus"></i>
    </button>
    <form class="mt-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search-plus"></i></div>
            </div>
            <input (keyup)="filter()" [(ngModel)]="search" type="text" name="search" id="search" class="form-control" placeholder="Search products...">
        </div>
    </form>
    <div *ngIf="filteredProducts?.length; else NoData" class="table-responsive mt-5">
        <table class="table table-striped" matSort (matSortChange)="sortData($event)">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="price">Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sortedData; let x = index;">
                    <td>{{ (pageEvent.pageIndex*pageEvent.pageSize) + (x+1) }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price | currency: item.currency }}</td>
                    <td>
                        <button (click)="updateProduct(item.key)" class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i>
                        </button>
                        &nbsp;
                        <button (click)="deleteProduct(item.key)" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #NoData>
        <p class="mt-5 text-center text-muted">No product found</p>
        <p class="mt-5 text-center text-muted">Try rephrasing your search</p>
    </ng-template>
    <mat-paginator [length]="pageEvent.length"
    [pageSize]="pageEvent.pageSize"
    [pageSizeOptions]="[10]"
    (page)="loadPage($event)">
    </mat-paginator>
</div>